@keyframes rotateAnimation {
  from {
    transform: translate(-50%, -50%) rotate(0deg) translate(-30px, -30px);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg) translate(-30px, -30px);
  }
}

@keyframes pulseAnimation {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

@keyframes exit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: orangered;

    &:first-child {
      width: 50px;
      height: 50px;
      animation-name: pulseAnimation;
      animation-duration: 700ms;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    &:last-child {
      width: 20px;
      height: 20px;
      animation-name: rotateAnimation;
      animation-duration: 700ms;
      animation-iteration-count: infinite;
    }
  }
}

.exit {
  animation-name: exit;
  animation-duration: 2000ms;
}
