@import "../../../styles/presets";

.color_switcher {
  width: 2.4em;
  height: 1.2em;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;

  position: relative;

  &__toggle {
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: black;
    transition: all 200ms;
  }

  &:hover &__toggle {
    background-color: orangered;
  }
}

.light_colors {
  left: 3px;
}

.dark_colors {
  left: 19px;
}