@import '../variables';
@import '../rule-presets';

.project_card {
    position: relative;
    width: 330px;
    height: 270px;
    padding: 55px 10px 10px 10px;
    background-image: linear-gradient(to right bottom, whitesmoke, rgb(230, 230, 235));
    border-radius: $small-radius;
    overflow: hidden;
    cursor: default;
    transition: all 400ms;

    &:after {
      @extend %gradient_after_element;
      transition: all 400ms;
    }

    &:hover {
      transform: scale(1.05);
      color: white;
      box-shadow: 0 0 15px 10px rgba(50, 50, 50, 0.3);
      transition: all 400ms;

      &:after {
        opacity: 1;
        transition: all 400ms;
      }

      img {
        filter: grayscale(0);
        transition: all 400ms;
      }
    }

    img {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 45px;
      height: 45px;
      filter: grayscale(1);
      border: 2px solid white;
      border-radius: 50%;
    }

    h1 {
      font-family: $headers-font-family;
      font-size: 2.5em;
      font-weight: normal;
    }

    p {
      padding-top: 20px;
      font-family: $headers-font-family;
      font-size: 1.3em;
    }

    ul {
      position: absolute;
      bottom: 5px;
      left: 5px;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: flex-start;
      padding-left: 0;

      li {
        margin-top: 5px;
        margin-right: 5px;
        padding: 5px 15px;
        display: inline-block;
        border-radius: $small-radius;
        background-color: white;
        color: dimgray;
        font-size: 0.8em;
      }
    }
  }