.container {
  border-bottom: 1px dashed dimgray;
  background-color: whitesmoke;
  outline-color: blue;
  outline-width: 2px;

  td {
    padding: 8px 0;
    font-size: 1.2em;
    vertical-align: middle;

    &:first-child {
      text-align: center;
    }

    &:last-child {
      text-align: center;
    }
  }
}

.selected {
  background-color: DeepSkyBlue;
  color: white;
}