.container {
  border-bottom: 1px dashed dimgray;
  background-color: whitesmoke;

  td {
    padding: 8px 0;
    font-size: 1.2em;

    &:nth-child(1) {
      text-align: center;
    }
  }
}

.selected {
  background-color: DeepSkyBlue;
  color: white;
}