.container {
  position: relative;
  height: 450px;
  width: 50%;
  overflow: hidden;
  box-sizing: border-box;

  @media (max-width: 850px) {
    width: 100%;
  }

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 600ms;

    &:hover {
      transform: scale(1.2);
      transition: all 600ms;
    }
  }
}