@import '../../../variables';

.container {
  position: relative;
  min-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgb(40, 40, 40);
  border-bottom: 1px solid black;

  .content {
    position: absolute;
    width: 80%;
    height: 90%;
    overflow: hidden;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    border-radius: 5px;

    div.wrap {
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        object-fit: cover;
      }

      img.outer_img_clear {
        filter: blur(0) grayscale(0);
        transition: all 1000ms;
      }

      img.outer_img_blur {
        filter: blur(5px) grayscale(1);
        transition: all 1000ms;
      }

      div {
        position: absolute;
        overflow: hidden;
        border-radius: 5px;

        h3 {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 20px;
          background-color: rgba(220, 220, 220, 0.4);
          color: white;
          font-family: $headers-font-family;
          font-weight: normal;
          font-size: 1.5em;
        }
      }

      div.hide {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        box-shadow: none;
        transition: all 1000ms;
      }

      div.visible {
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
        opacity: 1;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
        transition: all 1000ms;
      }
    }

    div.arrow_block {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;

      div {
        margin: 0 10px;
        cursor: pointer;
        width: 55px;
        height: 55px;
        color: white;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.3);
      }
    }
  }
}