@import '../variables';
@import '../rule-presets';

.container {
  position: relative;
  padding: 30px;
  z-index: 4;
  background-color: transparent;
  pointer-events: none;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: $large-radius;
    pointer-events: none;
    background-image: $main-background-gradient;
    border: 1px solid black;
    @extend %standard_shadow;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
  }

  img {
    margin-left: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    transition: all 300ms;
    border-radius: 50%;

    &:hover {
      transform: scale(1.2);
      transition: all 300ms;
    }

  }
}

@media (max-width: 768px) {
  .container {
    div {
      width: 250px;
      padding: 7px;
    }
  }
}