@import "../../../styles/presets";
@import "../../common/TechLabel/TechLabel";

.project_card {
  padding: 1em;
  border-radius: 3px;
  box-shadow: var(--card-shadow);
  border: 1px solid var(--separator);
  background-color: var(--back2);
  transition: all $slow;

  display: flex;
  flex-direction: column;

  .tech_label {
    margin: 5px 5px 0 0;
  }

  &__title_link {
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    color: var(--text-color);

    font-weight: 500;
    font-size: 1.7em;

    transition: all $slow;

    &:hover {
      color: var(--accent);
    }
  }

  &__description {
    margin-bottom: 2.5em;
    color: var(--text-color);
    font-weight: 300;
    user-select: none;
    text-align: justify;
    transition: all $slow;
  }

  &__tech_list {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: auto;
  }
}