@import '../../../variables';

@keyframes pulse {
  from {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0.5;
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dark {
  &:before {
    content: 'ЗАГРУЗКА';
    font-family: $headers-font-family;
    font-size: 1.5em;
    font-weight: normal;
    color: black;
    z-index: 2;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
    animation-name: pulse;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.light {
  &:before {
    content: 'ЗАГРУЗКА';
    font-family: $headers-font-family;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    z-index: 2;
  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: dodgerblue;
    z-index: 1;
    animation-name: pulse;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}