.container {
  background-color: whitesmoke;
  border-radius: 3px;
  margin: 15px 20px;
  max-height: 750px;
  min-width: 400px;
  max-width: 400px;
  overflow: auto;
  font-size: 1.5em;
  padding: 5px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: whitesmoke;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}