@import '../../../variables';

.container {
  background-color: whitesmoke;
  border-radius: 3px;
  max-height: 750px;
  min-width: 370px;
  max-width: 370px;
  overflow: auto;

  .color_label {
    height: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    cursor: pointer;
  }

  h3.category_title {
    font-family: $headers-font-family;
    font-size: 1.3em;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    word-wrap: break-word;
    background-color: rgb(233, 233, 240);

    @media (max-width: 550px) {
      padding: 10px;
    }
  }

  .control_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: rgb(233, 233, 240);

    @media (max-width: 550px) {
      padding: 10px;
    }

    span {
      padding: 3px 7px;
      background-color: white;
      border: 1px solid lightgray;
      border-radius: 3px;
      color: gray;
      cursor: pointer;
      transition: all 150ms;

      @media (max-width: 550px) {
        padding: 5px 10px;
      }

      &.move_btn:hover {
        color: dodgerblue;
      }

      &.delete_btn:hover {
        color: red;
      }

      &:nth-child(2) {
        margin-left: auto;
        margin-right: 5px;
      }

      &:active {
        transform: scale(0.9);
        transition: all 150ms;
      }
    }
  }

  .task_block {
    border-top: 1px solid lightgray;
    padding: 10px;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: whitesmoke;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}