@import "../../../styles/presets";
@import "../../common/MenuButton/MenuButton";

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  z-index: 10;

  background-color: white;
  border-bottom: 1px solid lightgrey;

  transition: all 150ms;
  overflow: hidden;
  padding: 0;

  &__items {
    position: absolute;
    top: 5em;
    left: 1em;
  }

  &__item {
    cursor: pointer;
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    letter-spacing: 2px;
    user-select: none;
    transition: all 150ms;

    &:hover {
      color: orangered;
    }
  }

  &__item + &__item {
    margin: 2em 0 0 0;
  }
}

.opened_menu {
  height: 100%;
}

@media (min-width: $medium-start) {
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4em;

    .menu_button {
      display: none;
    }

    &__items {
      position: static;
      display: flex;
    }

    &__item + &__item {
      margin: 0 0 0 2em;
    }
  }

  .opened_menu {
    height: 3em;
  }
}