@import "../../../styles/presets";
@import "../../common/MenuButton/MenuButton";

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  z-index: 5;

  background-color: var(--back2);
  border-bottom: 1px solid var(--separator);

  transition: all $slow;
  overflow: hidden;
  padding: 0;

  &__items {
    position: absolute;
    top: 6em;
    left: 1em;
    width: 80%;
  }

  &__item {
    cursor: pointer;
    font-family: Roboto, 'sans-serif';
    text-transform: uppercase;
    color: var(--text-color);
    letter-spacing: 2px;
    user-select: none;
    border-bottom: 2px solid transparent;
    transition: all $slow;

    &:hover {
      color: var(--accent);
    }
  }

  &__item + &__item {
    margin: 2em 0 0 0;
  }
}

.opened_menu {
  height: 100%;
}

.selected_menu_item {
  border-bottom: 2px solid var(--accent);
}

@media (min-width: $medium-start) {
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 4em;

    .menu_button {
      display: none;
    }

    &__items {
      width: initial;
      position: static;
      display: flex;
      align-items: center;
    }

    &__item + &__item {
      margin: 0 0 0 2em;
    }
  }

  .opened_menu {
    height: 3em;
  }
}