@import '../../../variables';

.container {
  background-color: whitesmoke;

  h3 {
    padding: 15px;
    background-color: rgb(55, 60, 75);
    font-family: $headers-font-family;
    font-weight: normal;
    color: white;
  }
}