@import '../../../variables';

.container {
  position: relative;
  top: 100px;
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding-right: 10px;
  padding-left: 10px;
  height: 1000px;
  box-sizing: border-box;
  color: white;
  font-size: 1.2em;

  h3 {
    font-family: $headers-font-family;
    font-size: 1.2em;
    font-weight: normal;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
    margin-bottom: 20px;
    background-color: rgba(150, 150, 150, 0.3);
  }

  p {
    text-align: justify;
    padding-bottom: 10px;
  }
}