@import "../../../styles/presets";

.projects {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url("../../../content/back.png");

  display: flex;
  justify-content: center;
  align-items: center;
}