@import '../../../variables';

.container {
  position: relative;
  padding: 10px;
  border-radius: $large-radius;
  background-image: linear-gradient(to right bottom, DeepSkyBlue, DodgerBlue);
  color: white;

  .close_container_button {
    position: absolute;
    top: -15px;
    right: -15px;
    border: 1px solid orangered;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right bottom, coral, red);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;

    &:hover {
      transform: scale(1.3);
      transition: all 300ms;
      box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.2);
    }

    &:active {
      transform: scale(1);
      transition: all 100ms;
    }
  }

  h2 {
    font-family: $headers-font-family;
    font-weight: normal;
    font-size: 1.5em;
    border-bottom: 1px dashed white;
    margin: 10px -10px;
    padding: 0 0 10px 10px;
  }

  p {
    font-family: $headers-font-family;
    text-align: justify;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
}