@import "../../../styles/presets";

.main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("../../../content/back.png");

  &__avatar_wrapper {
    padding: 11px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__avatar {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    transition: all 150ms;
  }

  &__name {
    font-family: Roboto, 'sans-serif';
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 1em;
    user-select: none;
    text-align: center;
    transition: all 150ms;
  }

  &__profession {
    font-family: Roboto, 'sans-serif';
    font-weight: 100;
    font-size: 2em;
    letter-spacing: 0;
    user-select: none;
    text-align: center;
    transition: all 150ms;
  }

  &__more {
    margin-top: 1em;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 25px;
    font-family: Roboto, 'sans-serif';
    font-weight: 300;
    font-size: 1.2em;
    background-color: whitesmoke;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    transition: all 150ms;

    &:hover {
      color: white;
      background-color: orangered;
      border: 1px solid orangered;
    }

    &:active {
      transform: scale(0.95);
      box-shadow: none;
    }
  }
}

@media (min-width: $medium-start) and (max-width: $medium-end) {
  .main {
    &__avatar {
      width: 170px;
      height: 170px;
    }

    &__name {
      font-size: 1.8em;
    }

    &__profession {
      font-size: 2.1em;
      letter-spacing: 3px;
    }
  }
}

@media (min-width: $large-start) {
  .main {
    &__avatar {
      width: 200px;
      height: 200px;
    }

    &__name {
      font-size: 2.1em;
    }

    &__profession {
      font-size: 2.4em;
      letter-spacing: 6px;
    }
  }
}