@import "../../../styles/presets";

.about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url("../../../content/back.png");

  overflow: auto;
  @include scroll;

  padding: 5em 1em 2em 1em;
  transition: all 150ms;

  &__content {
    max-width: 50em;
  }

  &__welcome {
    font-family: Roboto, 'sans-serif';
    font-weight: 300;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    border-bottom: 2px solid orangered;
    transition: all 150ms;
  }

  p {
    font-family: Roboto, 'sans-serif';
    font-weight: 300;
    text-align: justify;
  }

  p + p {
    margin-top: 0.5em;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
  }
}

@media (min-width: $medium-start) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
  }
}

@media (min-width: $medium-start) and (max-width: $medium-end) {
  .about {
    &__welcome {
      font-size: 1.5em;
    }
  }
}

@media (min-width: $large-start) {
  .about {
    &__welcome {
      font-size: 1.7em;
    }
  }
}