.container {
    position: relative;
    width: 100%;
    z-index: 4;
    background-color: azure;
    box-shadow: 0 -5px 30px 5px rgba(50, 50, 50, 0.25);
}

.content_block {
    position: relative;
    top: 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    z-index: 5;
}