@import '../../../variables';

.container {
  th {
    font-family: $headers-font-family;
    font-size: 1.2em;
    font-weight: normal;
    padding: 10px;
    background-color: rgb(230, 230, 230);
    border-bottom: 1px dashed dimgray;
  }
}