.container {
  padding: 20px;

  span {
    position: relative;
    display: inline-block;
    color: gray;
  }

  div.scale {
    position: relative;
    border-radius: 5px;

    div.regulator {
      position: absolute;
      border-radius: 50%;
      transition: transform 200ms;
    }
  }
}

.drag {
  transform: scale(1.2);
  transition: transform 200ms;
}