@import "../../../styles/presets";

.menu_button {
  position: relative;
  width: 3em;
  height: 3em;
  cursor: pointer;

  svg {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    transition: all 300ms;
  }
}

.button_for_opened {
  svg:nth-child(1) {
    opacity: 0;
  }

  svg:nth-child(2) {
    transform: rotate(45deg);
  }

  svg:nth-child(3) {
    transform: rotate(-45deg);
  }
}