@import "../variables";
@import "../rule-presets";

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: $main-background-gradient;
  width: 100%;
}

.content {
  max-width: 800px;
  padding: 20px;
  margin: 30px 15px 30px 15px;
  background-color: $main-background-color;
  color: dimgray;
  box-shadow: 0 0 15px 10px rgba(50, 50, 50, 0.20);
  border-radius: $large-radius;
  z-index: 2;

  .header {
    background-image: linear-gradient(to right bottom, DeepSkyBlue, DodgerBlue);
    color: white;
    border-radius: $small-radius;
    padding: 15px;
  }

  p {
    margin-top: 10px;
    text-align: justify;
    font-size: 1.2em;
  }
}

.content > span {
  margin-top: 20px;
}

span.dedicated {
  font-weight: bold;
}

.title {
  @extend %header
}

.separator {
  @extend %separator
}

.cap {
  position: fixed;
  width: 100%;
  height: 125px;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, DarkOrange, OrangeRed);
  border-bottom: 2px solid OrangeRed;
  z-index: 1;

  &:after {
    position: absolute;
    left: 10px;
    top: 10px;
    content: 'hProger';
    font-size: 5em;
    color: white;
    letter-spacing: 3px;
    opacity: 0.3;
  }
}
