@import "variables";

%container {
  position: relative;
  background-color: azure;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
  z-index: 4;
}

%header {
  font-family: $headers-font-family;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: $headers-font-color;
  width: 100%;
}

%separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, teal, transparent);
  margin-bottom: 40px;
}