@import "variables";

%container {
  position: relative;
  background-color: $main-background-color;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
  z-index: 4;
}

%header {
  font-family: $headers-font-family;
  font-weight: normal;
  font-size: 3em;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: $headers-font-color;
  width: 100%;
}

%separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, teal, transparent);
  margin-bottom: 40px;
}

%gradient_after_element {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right bottom, rgb(50, 50, 70), black);
  opacity: 0;
  z-index: -1;
}

%standard_shadow {
  box-shadow: 0 0 10px 5px rgba(50, 50, 50, 0.4);
}