/* Параметры шрифта */
$headers-font-family: 'Roboto Light';
$headers-font-color: rgb(50, 50, 80);

/* Параметры границ */
$large-radius: 10px;
$small-radius: 5px;

/* Основной цвет фона */
$main-background-color: rgba(255, 255, 255, 0.8)
