/* Параметры шрифта */
$headers-font-family: 'Roboto Light';
$headers-font-color: rgb(50, 50, 80);

/* Параметры границ */
$large-radius: 7px;
$small-radius: 5px;

/* Основной цвет фона */
$main-background-color: white;

/* Основной градиент для фона */
$main-background-gradient: linear-gradient(to right bottom, white, whitesmoke);

/* Основной коэфициент масштабирования */
$main-scale-factor: 1.03