@import '../../../variables';

.container {
  width: 200px;
  height: 200px;
  transition: all 200ms;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    border-radius: $small-radius;
    padding: 5px;
    width: 100px;
    text-align: center;
    font-family: $headers-font-family;
    font-weight: normal;
    cursor: default;
    opacity: 0.5;
    transition: all 200ms;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    transition: all 200ms;

    div {
      opacity: 1;
      transition: all 200ms;
    }
  }
}