@import '../../../variables';

.container {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: $small-radius;
  border: 1px solid dimgray;
  overflow: hidden;
  pointer-events: auto;
  transition: all 200ms;

  @media (max-width: 600px) {
    width: 100%;
    height: 350px;
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 45px;
    padding: 10px;
    font-family: $headers-font-family;
    font-weight: normal;
    font-size: 1.5em;
    cursor: default;
    background-color: white;
    opacity: 0.7;
    border-bottom: 1px solid black;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
    border-top-left-radius: $small-radius;
    border-top-right-radius: $small-radius;
    top: -60px;
    box-sizing: border-box;
    transition: all 200ms;
  }

  &:hover {
    transform: scale(1.04);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    transition: all 200ms;

    div {
      top: 0;
      transition: all 200ms;
    }
  }
}