@import '../../../variables';

.container {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    font-family: $headers-font-family;
    text-transform: uppercase;
    padding: 0 15px 5px 15px;
    border-bottom: 5px solid transparent;
    cursor: pointer;
    transition: all 300ms;

    &:hover {
      color: orange;
      border-bottom: 5px solid orange;
      transition: all 300ms;
    }
  }
}