@import "../variables";

.header {
  font-family: $main-font-family;
  font-size: 3em;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 20px;
  color: $main-font-color;
}

.separator {
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, teal, transparent);
  margin-bottom: 40px;
}

.content {
  display: flex;
  justify-content: center;
}

.content > div {
  padding-left: 30px;
}

.content p {
  font-size: 1.5em;
  color: dimgray;
}

.content span {
  margin-top: 20px;
}