@import '../../../variables';

.container {
  background-color: rgb(235, 235, 235);
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 30px;
}

.content {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: $large-radius;

  .close_container_button {
    position: absolute;
    top: -15px;
    right: -15px;
    border: 1px solid orangered;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right bottom, coral, red);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms;

    &:hover {
      transform: scale(1.3);
      transition: all 300ms;
      box-shadow: 0 0 3px 3px rgba(100, 100, 100, 0.2);
    }

    &:active {
      transform: scale(1);
      transition: all 100ms;
    }
  }
}