.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  min-height: 750px;
  background-color: white;

  &::-webkit-scrollbar {
    width: 0;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: whitesmoke;
  }

  &::-webkit-scrollbar-thumb {
    background-color: lightgray;
  }
}

.container > div {
  margin-top: 10px;
  margin-right: 20px;
}