@import "../variables";
@import "../rule-presets";

.container {
  @extend %container;
  padding-top: 200px;
}

.container > div {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  @extend %header
}

.separator {
  @extend %separator
}

.content {
  display: flex;
  justify-content: center;
  flex-flow: row;
  flex-wrap: wrap;

  div {
    position: relative;
    width: 330px;
    height: 270px;
    margin: 15px;
    padding: 55px 10px 10px 10px;
    background-image: linear-gradient(to right bottom, gray, dimgray);
    border-radius: $small-radius;
    color: white;
    overflow: hidden;
    cursor: default;
    transition: all 400ms;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      background-image: linear-gradient(to right bottom, rgb(65, 65, 65), black);
      z-index: -1;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 15px 10px rgba(50, 50, 50, 0.5);
      transition: all 400ms;

      &:after {
        width: 100%;
        height: 100%;
        transition: all 300ms;
      }
    }

    img {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 40px;
      height: 40px;
      filter: grayscale(1);
      padding: 3px;
      border: 2px solid white;
      border-radius: 50%;

      &:hover {
        filter: grayscale(0);
      }
    }

    h1 {
      font-family: $headers-font-family;
      font-size: 2.5em;
      font-weight: normal;
    }

    p {
      padding-top: 20px;
      font-family: $headers-font-family;
      font-size: 1.3em;
    }

    ul {
      position: absolute;
      bottom: 5px;
      left: 5px;
      list-style-type: none;
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: flex-start;
      padding-left: 0;

      li {
        margin-top: 5px;
        margin-right: 5px;
        padding: 5px 15px;
        display: inline-block;
        border-radius: $small-radius;
        background-color: white;
        color: dimgray;
        font-size: 0.8em;
      }
    }
  }
}

.btn_block {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}